## Linting and Formatting (in accordance with pep8)
pycodestyle == 2.8.0
autopep8 == 1.6.0

## Documentation Building
sphinx == 4.2.0

## html Theme for sphinx
karma-sphinx-theme == 0.0.8

## Package Builder
build == 0.7.0

## Uploading to the registry
twine == 3.5.0

matplotlib == 3.4.3
